// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #F9F5DD;
@light-gray: #716A60;
@gray: #434046;
@slight-dark-gray: #3C393E;
@dark-gray: #363338;
@very-dark-gray: #242424;

@red: #FF5794;
@brown: #CC8D66;
@orange: #FAA23D;
@yellow: #E6DB7A;
@green: #B2E64C;
@cyan: #66CCE1;
@blue: #5596F1;
@purple: #AA7DFC;

@light-red: lighten(@red, 10%);
@light-brown: lighten(@brown, 10%);
@light-orange: lighten(@orange, 10%);
@light-yellow: lighten(@yellow, 10%);
@light-green: lighten(@green, 10%);
@light-cyan: lighten(@cyan, 10%);
@light-blue: lighten(@blue, 10%);
@light-purple: lighten(@purple, 10%);

@light-text: #ffff00;
